*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  padding:25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(207, 29, 29);
}
.container{
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0 ,0.1);
}
h1{
  text-align: center;
  color: #0c68d1;;
  margin-bottom: 20px;
}
button{
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  color: wheat;
  background-color: #4caf4c;
  font-size: 16px;
  cursor: pointer;
  transition:back-ground 0.3s;
}
button:hover{
  background-color: #0c68d1;
}
input{
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #460303;
  border-radius: 5px;
  font-size: 16px;
}
#colorBox {
  border: 2px solid #333;
  border-radius: 5px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:bold;
}
display-area{
margin: 30px 0;
padding: 20px;
background-color: #460303;
}
#welcome-page{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
color: #e614b1;
}