body{
  text-align:center ;
  margin-top:250px;
  background-color:#12af7d;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 60px;
  margin-bottom: 20px;
}
button{
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  border-radius:10px;
  background-color: rgb(255, 198, 196);
  transition: 0.5s;
}
button:hover{
  background-color: blueviolet;
}